<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <% if(wiki.private == true)  { %>
        <h1> Collaborators </h1>

        <% if(collaborators) { %>
          <p>
          <ul class ="list-group">
            <% collaborators.forEach((collaborator) => {  %>
                <li class="list-group-item" style="height: 50px;">
                  <h5>
                    <span class="align-middle">
                      <%= collaborator.User.name %>
                    </span>
                    <% if(currentUser.role === 1 || currentUser.role === 2) { %>
                      <span class="float-right" style="margin-top: -6px;">
                        <form action="/wikis/<%= wiki.id %>/collaborators/remove" method="post">
                          <button type="submit" class="btn btn-danger">Remove</button>
                          <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator" >
                        </form>
                      </span>
                    <% } %>
                  <h5>
               </li>
            <% }) %>
          </ul>
        </p>
        <% } %>

        <% if(currentUser.role === 1 || currentUser.role === 2) { %>
          <form action="/wikis/<%= wiki.id %>/collaborators/add" method="post">
            <div class="input-group" style="height: 40px;">
              <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
              <span class="float-right" ><button type="submit" class="btn btn-primary">Add</button></span>
            </div>
          </form>
        <% } %>

      <% } %>

    </main>
  </body>
</html>
