<!DOCTYPE html>
<html>

  <% if(wiki.private == true)  { %>
    <h2> Collaborators <h2>

    <% if(collaborators) { %>
      <ul class ="list-group">
        <% collaborators.forEach((collaborator) => {  %>
            <li class="list-group-item">
              <%= collaborator.User.name %>
              <% if(currentUser.role === 1 || currentUser.role === 2) { %>
                <form action="/wikis/<%= wiki.id %>/collaborators/remove" method="post">
                  <button type="submit" class="btn btn-danger">Remove</button>
                  <input type="hidden" value="<%= collaborator.User.id %>" class="form-control" name="collaborator" >
                </form>
              <% } %>
           </li>
        <% }) %>
      </ul>
    <% } %>

    <% if(currentUser.role === 1 || currentUser.role === 2) { %>
      <form action="/wikis/<%= wiki.id %>/collaborators/add" method="post">
        <div class="input-group">
          <input type="text" class="form-control" name="collaborator" placeholder="Enter username">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    <% } %>

  <% } %>

</html>
