<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1 class="display-4"><%= wiki.title %></h1>

      <header class="jumbotron my-4">
        <p><%- wiki.body %></p>
      </header>

      <% if(currentUser) { %>
        <div class="text-center">
          <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
          <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
           <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      <% } %>
      <hr>

    </main>

  </body>
</html>
